Resource/node-red.json
[{"id":"dbda736a.051a4","type":"http in","z":"b1659819.bcfec","name":"","url":"/loadpartsdata","method":"get","upload":false,"swaggerDoc":"","x":330,"y":280,"wires":[["a63bd24.f36b3b"]]},{"id":"c7a1d090.2c85b","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":1010,"y":280,"wires":[]},{"id":"a63bd24.f36b3b","type":"function","z":"b1659819.bcfec","name":"Query","func":"\nvar cmd = \"select * from product_list\"\n\nmsg.topic = cmd;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":280,"wires":[["4d844292.5cf8cc"]]},{"id":"4d844292.5cf8cc","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":780,"y":280,"wires":[["c7a1d090.2c85b","134821c9.0f4206"]]},{"id":"c350fdce.3b69","type":"http in","z":"b1659819.bcfec","name":"","url":"/loadorders","method":"get","upload":false,"swaggerDoc":"","x":300,"y":440,"wires":[["6c4f5cb3.a3fe6c"]]},{"id":"eca507de.3e5aa8","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":990,"y":440,"wires":[]},{"id":"6c4f5cb3.a3fe6c","type":"function","z":"b1659819.bcfec","name":"Query","func":"\nvar cmd = \"select * from customer_order\"\n\nmsg.topic = cmd;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":440,"wires":[["b9d84b82.f3ebf8"]]},{"id":"b9d84b82.f3ebf8","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":760,"y":440,"wires":[["eca507de.3e5aa8"]]},{"id":"cd164833.e840a","type":"http in","z":"b1659819.bcfec","name":"","url":"/loadorderdetail","method":"get","upload":false,"swaggerDoc":"","x":290,"y":560,"wires":[["191c536a.35a80d"]]},{"id":"ecc47caa.21dbc8","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":970,"y":560,"wires":[]},{"id":"191c536a.35a80d","type":"function","z":"b1659819.bcfec","name":"Query","func":"\nvar cmd = \"select * from order_details\"\n\nmsg.topic = cmd;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":560,"wires":[["9ff3171.c98e568"]]},{"id":"9ff3171.c98e568","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":740,"y":560,"wires":[["ecc47caa.21dbc8"]]},{"id":"d20d6180.4aace","type":"http in","z":"b1659819.bcfec","name":"","url":"/loadcusdata","method":"get","upload":false,"swaggerDoc":"","x":370,"y":360,"wires":[["e1c5300d.a72598"]]},{"id":"e1c5300d.a72598","type":"function","z":"b1659819.bcfec","name":"Query","func":"\nvar cmd = \"select * from customer\"\n\nmsg.topic = cmd;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":360,"wires":[["bb1a862e.c5bc58"]]},{"id":"bb1a862e.c5bc58","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":820,"y":360,"wires":[["a74bf054.a8916","530f56ac.5b7ed"]]},{"id":"a74bf054.a8916","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":990,"y":360,"wires":[]},{"id":"c534ab1b.d7d67","type":"http in","z":"b1659819.bcfec","name":"","url":"/insertproduct","method":"post","upload":true,"swaggerDoc":"","x":250,"y":820,"wires":[["86bc87e2.df5b48"]]},{"id":"134821c9.0f4206","type":"debug","z":"b1659819.bcfec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":180,"wires":[]},{"id":"e6daba14.36e278","type":"http in","z":"b1659819.bcfec","name":"","url":"/loadstock","method":"get","upload":false,"swaggerDoc":"","x":260,"y":700,"wires":[["a2e9b42a.7f7b8"]]},{"id":"8c2b4bbe.7be4c","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":950,"y":700,"wires":[]},{"id":"a2e9b42a.7f7b8","type":"function","z":"b1659819.bcfec","name":"Query","func":"\nvar cmd = \"select * from stock\"\n\nmsg.topic = cmd;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":700,"wires":[["f43158a3.4ab4c"]]},{"id":"f43158a3.4ab4c","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":720,"y":700,"wires":[["8c2b4bbe.7be4c"]]},{"id":"dfde8dd9.5e35f8","type":"function","z":"b1659819.bcfec","name":"insert data to db","func":" //step0: pickup parameter from client request\n \n var serialNumber = msg.payload.Serial_Number;\n var qty = msg.payload.qty;\n\n //step1: create a query string \n var sql = \"INSERT INTO stock (stock_id, serial_number, qty) VALUES(null, 'd1', 'd2')\";\n \n sql = sql.replace('d1', serialNumber);\n sql = sql.replace('d2', qty);\n\n //step2: just assing the query string to\n msg.topic =sql;\n \n \n\n \n //the topic variable of msg\n //then return the msg\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1640,"wires":[["bc4057d2.4636a"]]},{"id":"bc4057d2.4636a","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":820,"y":1640,"wires":[["8faf3e00.2d06c8"]]},{"id":"dc34eda1.1d66f8","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":1590,"y":1640,"wires":[]},{"id":"ece98ece.19d3f","type":"http in","z":"b1659819.bcfec","name":"","url":"/insertstock","method":"post","upload":true,"swaggerDoc":"","x":190,"y":1640,"wires":[["dfde8dd9.5e35f8"]]},{"id":"8faf3e00.2d06c8","type":"function","z":"b1659819.bcfec","name":"getres","func":"\nvar result = msg.payload;\nvar response = \"\";\n\nif(result.affectedRows ==1){\n\n    // response = result.insertId\n    response = result;\n    \n}else{\n   \n    response = \"fail\";\n}\n \n msg.payload = response;\n\n\nreturn msg;\n\n\n\n\n\n\n\n \n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":1640,"wires":[["dc34eda1.1d66f8"]]},{"id":"7bf7af8c.2d2b2","type":"function","z":"b1659819.bcfec","name":"insert data to db","func":" //step0: pickup parameter from client request\n \n var order_status = msg.payload.Order_status;\n var Cus_ID = msg.payload.Customer_id;\n var order_date = msg.payload.Order_date;\n var Total_Amount = msg.payload.Total_Amount;\n\n //step1: create a query string \n var sql = \"INSERT INTO customer_order (Order_id, Order_date, Total_Amount, Customer_id, Order_status) VALUES(null, 'd1', 'd2','d3','d4')\";\n \n sql = sql.replace('d1', order_date);\n sql = sql.replace('d2', Total_Amount);\n sql = sql.replace('d3',  Cus_ID);\n sql = sql.replace('d4', order_status);\n\n //step2: just assing the query string to\n msg.topic =sql;\n \n \n\n \n //the topic variable of msg\n //then return the msg\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2540,"y":260,"wires":[["94dca700.5c068"]]},{"id":"94dca700.5c068","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":2840,"y":260,"wires":[["38d20cf2.31ffdc"]]},{"id":"97c99001.ed4c88","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":3610,"y":260,"wires":[]},{"id":"8234629e.bc6ea","type":"http in","z":"b1659819.bcfec","name":"","url":"/insertorder","method":"post","upload":true,"swaggerDoc":"","x":2210,"y":260,"wires":[["7bf7af8c.2d2b2"]]},{"id":"ea2cadcf.4cc1f","type":"debug","z":"b1659819.bcfec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3490,"y":420,"wires":[]},{"id":"38d20cf2.31ffdc","type":"function","z":"b1659819.bcfec","name":"getres","func":"\nvar result = msg.payload;\nvar response = \"\";\n\nif(result.affectedRows ==1){\n\n    response = result.insertId\n    \n    \n}else{\n   \n    response = \"fail\";\n}\n \n msg.payload = response;\n\n\nreturn msg;\n\n\n\n\n\n\n\n \n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3130,"y":260,"wires":[["97c99001.ed4c88","ea2cadcf.4cc1f"]]},{"id":"7f2008e6.e9b3e","type":"function","z":"b1659819.bcfec","name":"insert data to db","func":" //step0: pickup parameter from client request\n var arr = msg.payload;\n//  var order_id = msg.payload.order_id;\n//  var serial_number = msg.payload.serial_number;\n//  var qty = msg.payload.qty;\n//  var line_total = msg.payload.line_total;\n\n //step1: create a query string \n var sql = \"INSERT INTO order_details (order_id, order_detail_id, serial_number, qty ,line_total) VALUES\";\n \n function writeSql(data){\n     \n         var txt = \"('d1', null, 'd2','d3','d4'),\";\n         txt = txt.replace('d1', data.order_id);\n        txt = txt.replace('d2',  data.serial_number);\n         txt = txt.replace('d3',  data.qty);\n        txt = txt.replace('d4', data.line_total);\n        \n        return txt;\n }\n \n for(var i =0; i<arr.length; i++){\n     sql += writeSql(arr[i]);\n     \n }\n sql = sql.slice(0, -1); \n sql += \";\";\n\n //step2: just assing the query string to\n msg.topic =sql;\n \n \n\n \n //the topic variable of msg\n //then return the msg\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2540,"y":620,"wires":[["5f4f642e.a187cc"]]},{"id":"5f4f642e.a187cc","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":2840,"y":620,"wires":[["41b73cbf.88625c"]]},{"id":"b626d81e.a5ce1","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":3610,"y":620,"wires":[]},{"id":"cce38e54.068a08","type":"http in","z":"b1659819.bcfec","name":"","url":"/insertorderdetail","method":"post","upload":true,"swaggerDoc":"","x":2220,"y":620,"wires":[["7f2008e6.e9b3e"]]},{"id":"41b73cbf.88625c","type":"function","z":"b1659819.bcfec","name":"getorderno","func":"\nvar result = msg.payload;\nvar response = \"\";\n\nif(result.affectedRows >= 1){\n\n    response = \"yes\"\n    \n    \n}else{\n   \n    response = \"fail\";\n}\n \n msg.payload = response;\n\n\nreturn msg;\n\n\n\n\n\n\n\n \n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3150,"y":620,"wires":[["b626d81e.a5ce1"]]},{"id":"600b7740.d0bc1","type":"function","z":"b1659819.bcfec","name":"update stock to db","func":" //step0: pickup parameter from client request\n var arr = msg.payload;\n//  var order_id = msg.payload.order_id;\n//  var serial_number = msg.payload.serial_number;\n//  var qty = msg.payload.qty;\n//  var line_total = msg.payload.line_total;\n\n //step1: create a query string \n var sql = \"UPDATE stock SET qty = d1 WHERE stock_id = d2; \";\n var topic =\"\";\n \n \n for(var i =0; i<arr.length; i++){\n     topic += sql.replace('d1',arr[i].qty).replace('d2',arr[i].stock_id);\n     \n }\n \n \n\n //step2: just assing the query string to\n msg.topic = topic;\n \n \n\n \n //the topic variable of msg\n //then return the msg\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2510,"y":920,"wires":[["56fcc6e9.3c6de8"]]},{"id":"56fcc6e9.3c6de8","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":2800,"y":920,"wires":[["64e35d88.3e719c"]]},{"id":"a56b52c6.bd9c48","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":3570,"y":920,"wires":[]},{"id":"b976d327.20cd98","type":"http in","z":"b1659819.bcfec","name":"","url":"/updatestock","method":"post","upload":true,"swaggerDoc":"","x":2170,"y":920,"wires":[["600b7740.d0bc1"]]},{"id":"64e35d88.3e719c","type":"function","z":"b1659819.bcfec","name":"getorderno","func":"\nvar result = msg.payload;\nvar response = \"\";\n\nif(result.affectedRows >= 1){\n\n    response = result.affectedRows;\n    \n    \n}else{\n   \n    response = \"fail\";\n}\n \n msg.payload = result;\n\n\nreturn msg;\n\n\n\n\n\n\n\n \n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3110,"y":920,"wires":[["a56b52c6.bd9c48"]]},{"id":"2396f436.691c8c","type":"function","z":"b1659819.bcfec","name":"insert data to db","func":"\n var customer_ID = msg.payload.Customer_ID;\n var customer_Name = msg.payload.Customer_Name;\n var tel = msg.payload.Tel;\n var address = msg.payload.Address;\n\n //step1: create a query string \n var sql = \"INSERT INTO customer (Customer_ID, Customer_Name, Tel, Address) VALUES('d1','d2','d3','d4')\";\n \n sql = sql.replace('d1', customer_ID);\n sql = sql.replace('d2', customer_Name);\n sql = sql.replace('d3',  tel);\n sql = sql.replace('d4', address);\n\n //step2: just assing the query string to\n msg.topic =sql;\n \n \n\n \n //the topic variable of msg\n //then return the msg\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2500,"y":1240,"wires":[["4b66f0fd.50806"]]},{"id":"4b66f0fd.50806","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":2800,"y":1240,"wires":[["af36e33b.edbf68"]]},{"id":"4bd6ec.553a1114","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":3570,"y":1240,"wires":[]},{"id":"9ebad889.63e5c","type":"http in","z":"b1659819.bcfec","name":"","url":"/insertnewcus","method":"post","upload":true,"swaggerDoc":"","x":2170,"y":1240,"wires":[["2396f436.691c8c"]]},{"id":"af36e33b.edbf68","type":"function","z":"b1659819.bcfec","name":"getres","func":"\nvar result = msg.payload;\nvar response = \"\";\n\nif(result.affectedRows ==1){\n\n    response = \"yes\";\n    \n    \n}else{\n   \n    response = \"fail\";\n}\n \n msg.payload = response;\n\n\nreturn msg;\n\n\n\n\n\n\n\n \n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3090,"y":1240,"wires":[["4bd6ec.553a1114"]]},{"id":"fea40498.9cd11","type":"function","z":"b1659819.bcfec","name":"update product to db","func":" //step0: pickup parameter from client request\n var serialNumber = msg.payload.product.Serial_Number;\n var category = msg.payload.product.Category;\n var productName = msg.payload.product.Product_Name;\n var cost = msg.payload.product.Cost;\n var sellingPrice = msg.payload.product.Selling_Price;\n const pics = msg.payload.product.pics;\n var details = msg.payload.product.Details;\n var qty = msg.payload.qty;\n\n\n //step1: create a query string \n var sql = \"UPDATE product_list SET category= 'd2', product_name ='d3', cost ='d4',selling_price ='d5', pics=\"\n \n var sql3 = \", details = 'd7' WHERE Serial_Number = 'd1'; \";\n var topic =\"\";\n \n \nsql3 = sql3.replace('d1', serialNumber);\nsql = sql.replace('d2', category);\nsql = sql.replace('d3', productName);\nsql = sql.replace('d4', cost);\nsql = sql.replace('d5',  sellingPrice);\n\nsql3 = sql3.replace('d7',  details);\n  \n \n  \n\n\n var sql2 = \"Update stock SET qty = 'd8' WHERE Serial_Number = 'd1';\";\n \n sql2 = sql2.replace('d1', serialNumber);\n sql2 = sql2.replace('d8', qty);\n \n \n topic += sql;\n topic += \"'\"+pics+ \"'\";\n topic += sql3;\n topic += sql2\n\n //step2: just assing the query string to\n msg.topic = topic;\n \n \n\n \n //the topic variable of msg\n //then return the msg\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2620,"y":1660,"wires":[["d02bc713.44d26","2fc37ce7.34d624"]]},{"id":"d02bc713.44d26","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":2900,"y":1660,"wires":[["d06451d9.5f2d4"]]},{"id":"2fc37ce7.34d624","type":"debug","z":"b1659819.bcfec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":3040,"y":1820,"wires":[]},{"id":"c865d3fb.139098","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":3670,"y":1660,"wires":[]},{"id":"5c25a9eb.c9a9e8","type":"http in","z":"b1659819.bcfec","name":"","url":"/updateproduct","method":"post","upload":true,"swaggerDoc":"","x":2280,"y":1660,"wires":[["fea40498.9cd11","5034a434.be857c"]]},{"id":"5e749f98.11261","type":"debug","z":"b1659819.bcfec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3550,"y":1820,"wires":[]},{"id":"d06451d9.5f2d4","type":"function","z":"b1659819.bcfec","name":"getorderno","func":"\nvar result = msg.payload;\nvar response = \"\";\nvar rows = result[0].affectedRows+result[1].affectedRows;\nif(rows == 2){\n\n    response = \"yes\";\n    \n    \n}else{\n   \n    response = \"fail\";\n}\n \n msg.payload = response;\n\n\nreturn msg;\n\n\n\n\n\n\n\n \n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3210,"y":1660,"wires":[["c865d3fb.139098","5e749f98.11261"]]},{"id":"5034a434.be857c","type":"debug","z":"b1659819.bcfec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2650,"y":1840,"wires":[]},{"id":"86bc87e2.df5b48","type":"function","z":"b1659819.bcfec","name":"insert data to db","func":" //step0: pickup parameter from client request\n \n var serialNumber = msg.payload.Serial_Number;\n var category = msg.payload.Category;\n var productName = msg.payload.Product_Name;\n var cost = msg.payload.Cost;\n var sellingPrice = msg.payload.Selling_Price;\n var pics = msg.payload.pics;\n var details = msg.payload.Details;\n\n //step1: create a query string\n var sql = `INSERT INTO product_list (serial_number, category, product_name, cost, selling_price, details, pics) \n VALUES('d1', 'd2', 'd3','d4','d5','d7',`;\n \n sql = sql.replace('d1', serialNumber);\n sql = sql.replace('d2', category);\n sql = sql.replace('d3', productName);\n sql = sql.replace('d4', cost);\n sql = sql.replace('d5',  sellingPrice);\n sql = sql.replace('d7',  details);\n //step2: just assing the query string to\n msg.topic = sql;\n \n msg.topic += \"'\"+pics+\"');\";\n \n msg.payload= details;\n\n \n //the topic variable of msg\n //then return the msg\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":820,"wires":[["4796a196.ac88a8"]]},{"id":"4796a196.ac88a8","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":740,"y":820,"wires":[["36e78d9f.9fa5ba"]]},{"id":"145e60c9.ef5837","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":1370,"y":820,"wires":[]},{"id":"a6df6132.98404","type":"debug","z":"b1659819.bcfec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":940,"wires":[]},{"id":"36e78d9f.9fa5ba","type":"function","z":"b1659819.bcfec","name":"sendresstatus","func":"\nvar result = msg.payload;\nvar response = \"\";\n\nif(result.affectedRows ==1){\n\n    // response = result.insertId\n    response = \"yes\";\n    \n}else{\n   \n    response = \"fail\";\n}\n \n msg.payload = response;\n\n\nreturn msg;\n\n\n\n\n\n\n\n \n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":820,"wires":[["145e60c9.ef5837","a6df6132.98404"]]},{"id":"2b0dd7a5.9ed03","type":"catch","z":"b1659819.bcfec","name":"","scope":null,"uncaught":false,"x":1260,"y":520,"wires":[[]]},{"id":"704ff48a.148c04","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":3530,"y":2040,"wires":[]},{"id":"8df2abbf.8ee1a8","type":"http in","z":"b1659819.bcfec","name":"","url":"/deleteproduct","method":"post","upload":true,"swaggerDoc":"","x":2320,"y":2020,"wires":[["7d62751.f85428c","abe36ba1.54696"]]},{"id":"3b64a2bf.14bba6","type":"debug","z":"b1659819.bcfec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3510,"y":2340,"wires":[]},{"id":"7d62751.f85428c","type":"debug","z":"b1659819.bcfec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2570,"y":2460,"wires":[]},{"id":"abe36ba1.54696","type":"function","z":"b1659819.bcfec","name":"update product to db","func":"var serialNumber = msg.payload.serial_number;\n\nvar sql = \"DELETE FROM product_list WHERE Serial_Number ='d1';\"\n\nsql = sql.replace('d1',serialNumber);\n\nmsg.topic = sql;\n\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2740,"y":2040,"wires":[["97705ae5.5def6"]]},{"id":"97705ae5.5def6","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":3020,"y":2040,"wires":[["dc6b24d3.bf3698"]]},{"id":"dc6b24d3.bf3698","type":"function","z":"b1659819.bcfec","name":"getorderno","func":"\nvar result = msg.payload;\nvar response = \"\";\n\nif( result.affectedRows >=1){\n\n    response = \"yes\";\n    \n    \n}else{\n   \n    response = \"fail\";\n}\n \n msg.payload = response;\n\n\nreturn msg;\n\n\n\n\n\n\n\n \n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3330,"y":2040,"wires":[["704ff48a.148c04","3b64a2bf.14bba6"]]},{"id":"530f56ac.5b7ed","type":"debug","z":"b1659819.bcfec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":400,"wires":[]},{"id":"5a6f9d9f.59c53c","type":"function","z":"b1659819.bcfec","name":"insert data to db","func":" //step0: pickup parameter from client request\n \n var serialNumber = msg.payload.Serial_Number;\n  var backorder_qty = msg.payload.backorder_qty;\n var backorder_status = msg.payload.backorder_status;\n  var order_date = msg.payload.order_date;\n var total_amount = msg.payload.total_amount;\n var customer_id = msg.payload.customer_id;\n\n //step1: create a query string \n var sql = \"INSERT INTO Backorder (backorder_id, serial_number, backorder_qty,backorder_status,order_date,total_amount,customer_id) VALUES(null, 'd1', 'd2','d3','d4','d5','d6')\";\n \n sql = sql.replace('d1', serialNumber);\n sql = sql.replace('d2', backorder_qty);\n  sql = sql.replace('d3', backorder_status);\n  sql = sql.replace('d4', order_date);\n  sql = sql.replace('d5', total_amount);\nsql = sql.replace('d6', customer_id );\n //step2: just assing the query string to\n msg.topic =sql;\n \n \n\n \n //the topic variable of msg\n //then return the msg\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":1440,"wires":[["5a334321.a2b5f4"]]},{"id":"5a334321.a2b5f4","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":800,"y":1440,"wires":[["4b575b54.88412c"]]},{"id":"f4e613a1.c185f","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":1570,"y":1440,"wires":[]},{"id":"da1c0b6b.7dab78","type":"http in","z":"b1659819.bcfec","name":"","url":"/insertbackorder","method":"post","upload":true,"swaggerDoc":"","x":180,"y":1440,"wires":[["5a6f9d9f.59c53c"]]},{"id":"4b575b54.88412c","type":"function","z":"b1659819.bcfec","name":"getres","func":"\nvar result = msg.payload;\nvar response = \"\";\n\nif(result.affectedRows ==1){\n\n    // response = result.insertId\n    response = \"yes\";\n    \n}else{\n   \n    response = \"fail\";\n}\n \n msg.payload = response;\n\n\nreturn msg;\n\n\n\n\n\n\n\n \n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":1440,"wires":[["f4e613a1.c185f"]]},{"id":"ac7e5e1.4fe252","type":"http in","z":"b1659819.bcfec","name":"","url":"/loadbackorder","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1300,"wires":[["b196ca39.011158"]]},{"id":"ec7b5cb2.dfada8","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":870,"y":1300,"wires":[]},{"id":"b196ca39.011158","type":"function","z":"b1659819.bcfec","name":"Query","func":"\nvar cmd = \"select * from Backorder\"\n\nmsg.topic = cmd;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1300,"wires":[["b45a34b8.382e68"]]},{"id":"b45a34b8.382e68","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":640,"y":1300,"wires":[["ec7b5cb2.dfada8"]]},{"id":"394047b6.62e38","type":"http in","z":"b1659819.bcfec","name":"","url":"/loadreceipt","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1180,"wires":[["a69b7409.b64f38"]]},{"id":"51fdacf9.feabcc","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":850,"y":1180,"wires":[]},{"id":"a69b7409.b64f38","type":"function","z":"b1659819.bcfec","name":"Query","func":"\nvar cmd = \"select * from Receipt\"\n\nmsg.topic = cmd;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1180,"wires":[["3e92cb2.6a2af34"]]},{"id":"3e92cb2.6a2af34","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":620,"y":1180,"wires":[["51fdacf9.feabcc"]]},{"id":"280faff5.d8a93","type":"http in","z":"b1659819.bcfec","name":"","url":"/insertreceipt","method":"post","upload":true,"swaggerDoc":"","x":130,"y":1060,"wires":[["8d8be004.98217"]]},{"id":"8d8be004.98217","type":"function","z":"b1659819.bcfec","name":"insert data to db","func":" //step0: pickup parameter from client request\n \n \n var Order_id = msg.payload.Order_id;\n var Payment_date = msg.payload.Payment_date;\n var VAT = msg.payload.VAT;\n var Discount = msg.payload.Discount;\n var Grand_total = msg.payload.Grand_total;\n var receive = msg.payload.receive;\n var change = msg.payload.changes;\n var id = msg.payload.Receipt_id\n\n //step1: create a query string\n var sql = \"INSERT INTO Receipt (Receipt_id, Order_id, Payment_date, VAT, Discount, Grand_total, receive, changes) VALUES(null,'d1', 'd2', 'd3','d4','d5','d6','d7');\";\n var sql2 = \"UPDATE customer_order SET receipt_id = 'd1' WHERE Order_Id ='d2';\";\n \n \n sql = sql.replace('d1', Order_id);\n sql = sql.replace('d3', VAT);\n sql = sql.replace('d2', Payment_date);\n sql = sql.replace('d4', Discount);\n sql = sql.replace('d5',  Grand_total);\n sql = sql.replace('d6',  receive);\n sql = sql.replace('d7',  change);\n sql2 = sql2.replace('d1',id);\n sql2 = sql2.replace('d2',Order_id);\n //step2: just assing the query string to\n msg.topic = sql += sql2;\n \n \n\n \n //the topic variable of msg\n //then return the msg\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1060,"wires":[["f5a1f909.e817a8"]]},{"id":"f5a1f909.e817a8","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":620,"y":1060,"wires":[["a3546fe6.ed2d8"]]},{"id":"a3546fe6.ed2d8","type":"function","z":"b1659819.bcfec","name":"sendresstatus","func":"\nvar result = msg.payload;\nvar response = \"\";\n\nif(result.affectedRows ==1){\n\n    // response = result.insertId\n    response = \"yes\";\n    \n}else{\n   \n    response = \"fail\";\n}\n \n msg.payload = response;\n\n\nreturn msg;\n\n\n\n\n\n\n\n \n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":1060,"wires":[["a5cb6886.7d3ee8"]]},{"id":"dccf57df.076e68","type":"function","z":"b1659819.bcfec","name":"update stock to db","func":" //step0: pickup parameter from client request\n var backorder_id = msg.payload.backorder_id;\n\n//  var order_id = msg.payload.order_id;\n//  var serial_number = msg.payload.serial_number;\n//  var qty = msg.payload.qty;\n//  var line_total = msg.payload.line_total;\n\n //step1: create a query string \n var sql = \"UPDATE Backorder SET backorder_status = 'filled' WHERE backorder_id = 'd2'; \";\n \n \n \n \n\nsql = sql.replace('d2',  backorder_id);\n \n\n //step2: just assing the query string to\n msg.topic = sql;\n \n \n\n \n //the topic variable of msg\n //then return the msg\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2470,"y":1080,"wires":[["b0a2b249.b1b368"]]},{"id":"b0a2b249.b1b368","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":2760,"y":1080,"wires":[["f010c9c5.0a063","4794a3e7.8b386c"]]},{"id":"ba1f51dd.3fcbc8","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":3530,"y":1080,"wires":[]},{"id":"5d0b3ba1.85efac","type":"http in","z":"b1659819.bcfec","name":"","url":"/updatebackorder","method":"post","upload":true,"swaggerDoc":"","x":2150,"y":1080,"wires":[["dccf57df.076e68","4794a3e7.8b386c"]]},{"id":"f010c9c5.0a063","type":"function","z":"b1659819.bcfec","name":"getorderno","func":"\nvar result = msg.payload;\nvar response = \"\";\n\nif(result.affectedRows >= 1){\n\n    response = \"yes\";\n    \n    \n}else{\n   \n    response = \"fail\";\n}\n \n msg.payload = result;\n\n\nreturn msg;\n\n\n\n\n\n\n\n \n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3070,"y":1080,"wires":[["ba1f51dd.3fcbc8"]]},{"id":"4794a3e7.8b386c","type":"debug","z":"b1659819.bcfec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2520,"y":780,"wires":[]},{"id":"a5cb6886.7d3ee8","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":1190,"y":1060,"wires":[]},{"id":"a899c976.670bc","type":"http in","z":"b1659819.bcfec","name":"","url":"/loadclaims","method":"get","upload":false,"swaggerDoc":"","x":200,"y":1820,"wires":[["ff29010d.5b02f"]]},{"id":"ec2e92c.1a475f","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":890,"y":1820,"wires":[]},{"id":"ff29010d.5b02f","type":"function","z":"b1659819.bcfec","name":"Query","func":"\nvar cmd = \"select * from Claim\"\n\nmsg.topic = cmd;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1820,"wires":[["d8af645f.8c9298"]]},{"id":"d8af645f.8c9298","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":660,"y":1820,"wires":[["ec2e92c.1a475f"]]},{"id":"d3b371e5.9e4ad","type":"http in","z":"b1659819.bcfec","name":"","url":"/loadclaimdetails","method":"get","upload":false,"swaggerDoc":"","x":240,"y":1920,"wires":[["4de4eb62.c6859c"]]},{"id":"e650299.27c80d8","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":910,"y":1920,"wires":[]},{"id":"4de4eb62.c6859c","type":"function","z":"b1659819.bcfec","name":"Query","func":"\nvar cmd = \"select * from Claim_detail\"\n\nmsg.topic = cmd;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":1920,"wires":[["8af263d9.d6d0e8"]]},{"id":"8af263d9.d6d0e8","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":680,"y":1920,"wires":[["e650299.27c80d8"]]},{"id":"9b9092f2.e9dee8","type":"function","z":"b1659819.bcfec","name":"insert data to db","func":" //step0: pickup parameter from client request\n \n var Customer_id = msg.payload.Customer_id;\n var Receipt_id = msg.payload.Receipt_id;\n var Claim_date = msg.payload.Claim_date;\n var Claim_description = msg.payload.Claim_description;\n var Claim_Status = msg.payload.Claim_Status;\n  \n\n //step1: create a query string \n var sql = \"INSERT INTO Claim (Claim_ID, Customer_id,  Receipt_id, Claim_date , Claim_description, Claim_Status) VALUES(null, 'd1', 'd2','d3','d4','d5')\";\n \n sql = sql.replace('d1', Customer_id);\n sql = sql.replace('d2', Receipt_id);\n sql = sql.replace('d3',  Claim_date);\n sql = sql.replace('d4', Claim_description);\n sql = sql.replace('d5', Claim_Status);\n\n //step2: just assing the query string to\n msg.topic =sql;\n \n \n\n \n //the topic variable of msg\n //then return the msg\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":2440,"wires":[["15cd3a30.96e4de","3142c906.cbfa76"]]},{"id":"15cd3a30.96e4de","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":820,"y":2440,"wires":[["5cb24845.629bc8"]]},{"id":"5bdb4c40.4c1244","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":1590,"y":2440,"wires":[]},{"id":"cc04ad97.c78be","type":"http in","z":"b1659819.bcfec","name":"","url":"/insertclaim","method":"post","upload":true,"swaggerDoc":"","x":190,"y":2440,"wires":[["9b9092f2.e9dee8"]]},{"id":"fcc55baf.870a18","type":"debug","z":"b1659819.bcfec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1470,"y":2600,"wires":[]},{"id":"5cb24845.629bc8","type":"function","z":"b1659819.bcfec","name":"getres","func":"\nvar result = msg.payload;\nvar response = \"\";\n\nif(result.affectedRows ==1){\n\n    response = result.insertId\n    \n    \n}else{\n   \n    response = \"fail\";\n}\n \n msg.payload = response;\n\n\nreturn msg;\n\n\n\n\n\n\n\n \n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":2440,"wires":[["5bdb4c40.4c1244","fcc55baf.870a18"]]},{"id":"b6982827.11c288","type":"function","z":"b1659819.bcfec","name":"insert data to db","func":" //step0: pickup parameter from client request\n var arr = msg.payload;\n//  var order_id = msg.payload.order_id;\n//  var serial_number = msg.payload.serial_number;\n//  var qty = msg.payload.qty;\n//  var line_total = msg.payload.line_total;\n\n //step1: create a query string \n var sql = \"INSERT INTO Claim_detail (Claim_detail_Id, Claim_id, Serial_Number, qty) VALUES\";\n \n function writeSql(data){\n    \n         var txt = \"(null, 'd1', 'd2','d3'),\";\n         txt = txt.replace('d1', data.Claim_id);\n        txt = txt.replace('d2',  data.Serial_Number);\n         txt = txt.replace('d3',  data.qty);\n        \n        return txt;\n }\n \n for(var i =0; i<arr.length; i++){\n     sql += writeSql(arr[i]);\n     \n }\n sql = sql.slice(0, -1); \n sql += \";\";\n\n //step2: just assing the query string to\n msg.topic =sql;\n \n \n\n \n //the topic variable of msg\n //then return the msg\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":2800,"wires":[["a7d55a8f.970428","3142c906.cbfa76"]]},{"id":"a7d55a8f.970428","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":820,"y":2800,"wires":[["30f6d45f.ef6fc4"]]},{"id":"8ee00160.b79878","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":1590,"y":2800,"wires":[]},{"id":"81b2671e.3444c8","type":"http in","z":"b1659819.bcfec","name":"","url":"/insertclaimdetail","method":"post","upload":true,"swaggerDoc":"","x":200,"y":2800,"wires":[["b6982827.11c288","3142c906.cbfa76"]]},{"id":"30f6d45f.ef6fc4","type":"function","z":"b1659819.bcfec","name":"getorderno","func":"\nvar result = msg.payload;\nvar response = \"\";\n\nif(result.affectedRows >= 1){\n\n    response = \"yes\"\n    \n    \n}else{\n   \n    response = \"fail\";\n}\n \n msg.payload = response;\n\n\nreturn msg;\n\n\n\n\n\n\n\n \n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":2800,"wires":[["8ee00160.b79878"]]},{"id":"3142c906.cbfa76","type":"debug","z":"b1659819.bcfec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":2260,"wires":[]},{"id":"73ba0c73.d66834","type":"function","z":"b1659819.bcfec","name":"update stock to db","func":" //step0: pickup parameter from client request\n var Claim_ID = msg.payload.Claim_ID;\n var Claim_Status = msg.payload.Claim_Status;\n//  var order_id = msg.payload.order_id;\n//  var serial_number = msg.payload.serial_number;\n//  var qty = msg.payload.qty;\n//  var line_total = msg.payload.line_total;\n\n //step1: create a query string \n var sql = \"UPDATE Claim SET Claim_Status = 'd1' WHERE Claim_ID = 'd2'; \";\n \n \n sql = sql.replace('d1',  Claim_Status);\n \n\nsql = sql.replace('d2',  Claim_ID);\n \n\n //step2: just assing the query string to\n msg.topic = sql;\n \n \n\n \n //the topic variable of msg\n //then return the msg\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":3000,"wires":[["df6a192.e022868","6d3069eb.9ae6d8"]]},{"id":"df6a192.e022868","type":"mysql","z":"b1659819.bcfec","mydb":"ba27b74.a9098c8","name":"","x":860,"y":3000,"wires":[["129e3b68.169905","6d3069eb.9ae6d8"]]},{"id":"e4e6b612.c9bbe","type":"http response","z":"b1659819.bcfec","name":"","statusCode":"","headers":{},"x":1630,"y":3000,"wires":[]},{"id":"ed8f4ec.7ecdfb","type":"http in","z":"b1659819.bcfec","name":"","url":"/updateclaim","method":"post","upload":true,"swaggerDoc":"","x":230,"y":3000,"wires":[["73ba0c73.d66834","6d3069eb.9ae6d8"]]},{"id":"129e3b68.169905","type":"function","z":"b1659819.bcfec","name":"getorderno","func":"\nvar result = msg.payload;\nvar response = \"\";\n\nif(result.affectedRows >= 1){\n\n    response = \"yes\";\n    \n    \n}else{\n   \n    response = \"fail\";\n}\n \n msg.payload = response;\n\n\nreturn msg;\n\n\n\n\n\n\n\n \n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":3000,"wires":[["e4e6b612.c9bbe"]]},{"id":"6d3069eb.9ae6d8","type":"debug","z":"b1659819.bcfec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":3280,"wires":[]},{"id":"ba27b74.a9098c8","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"senior_project","tz":"","charset":"UTF8"}]